html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
div::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
div::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
div::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.timeLine-side-task-row > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.time-line-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.list {
    width: 200px;
    height: 50%;
    border: solid 1px silver;
    border-radius: 10px;
    box-shadow: 2px 2px silver;
}

.itemRenderer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: solid 1px silver;
    background-color: white;
    color: silver;
    width: 100%;
    padding: 5px;
}

.itemRendererSelected {
    background-color: rgb(219, 223, 230);
}

.itemRenderer:hover {
    background-color: rgb(219, 223, 230);
}

.itemImage {
    flex: 1 0 40px;
    border-radius: 30px;
    width: 40px;
}

.itemTitleContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
}

.itemTitle {
    color: grey;
    font-size: 14px;
    align-self: center;
}

.itemContent {
    color: silver;
    font-size: 10px;
    align-self: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
    height: 50px;
    color: grey;
    align-items: center;
}

.timeLine-side-main {
    width: 300px !important;
}

.mode-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    justify-self: flex-end;
    margin: 0 20px;
}

.mode-container-item {
    flex: 0 0 auto;
    width: 80px;
    padding: 5px;
    border: solid 1px silver;
    background-color: #333333;
    color: white;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.mode-container-item-left {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.mode-container-item-right {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.mode-container-item-editable-toggle {
    margin-left: 20px;
    width: 150px;
}

.ant-layout-footer {
    padding: 0;
}

.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
