html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
}

header{
}

.footer{
    padding: 80px 0 40px 0;
    color: #FFF;
    background: #00416a;
    background: radial-gradient(ellipse at center, #00416a 0%, #001122 100%);
}
