# Flask related
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
__pycache__/
flask_session/
venv/
.idea/
docs/_build/
.vscode

# Node
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover