requests==2.25.1
werkzeug==1.0.1
pytest==6.2.4
fastapi==0.64.0
uvicorn[standard]
SQLAlchemy==1.4.14
typing==3.7.4.3
pydantic~=1.8.1
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pymysql~=1.0.2
jose~=1.0.0
sqlacodegen
starlette==0.13.6
pip==21.1.1
