{/*UserLoginPage CSS*/}
html, body{
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
}

.login {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.login-header {
    display: flex;
    align-items: center;
    height: 80px;
}
img{
    margin: 0 15px 0 20px;
    width: 150px;
    height: 70px;
}
.title-h1{
    font-size: 30px;
    color: black;
}

.login-card {
    background-color: whitesmoke;
    margin: 70px auto;
    padding: 20px 40px;
}

.title-h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.name-input{
    border-radius: 5px;
    opacity: 0.5;
}

.password-input{
    border-radius: 5px;
    opacity: 0.5;
}

.login-form-button{
    width: 100%;
    border-radius: 5px;
    margin-top: -20px;
}

.login-form-forgot{
    align-items: center;
    margin-top: -35px;
    margin-left: 30px;
}

.register-form{
    align-items: center;
    margin-left: 10px;
    margin-top: -50px;
}

register-form-button{
    align-items: center;
    margin-top: -10px;
}